.taskheader {
    display: flex;
    background-color: white;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    justify-content: center;
}

.List {
    border: none;
}
.Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Content {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

@media (min-width: 376px) {
    .Content {
        margin-top: 10vh;
        margin-bottom: 12vh;
    }
}