.needheader {
    display: flex;
    background-color: white;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    justify-content: center;
}

.needcontent {
    background-color: white;
    margin-top: 8vh;
    
}

@media (min-width: 376px ) {
    .needcontent {
        margin-top: 10vh;
        margin-bottom: 6vh;
    }
}